management:
  endpoints:
    web:
      exposure:
        include: "*"

spring:
  application:
    name: service-service

  cloud:
    compatibility-verifier:
      enabled: false
    nacos:
      discovery:
        enabled: false
      config:
        enabled: false

  data:
    redis:

      host: 127.0.0.1
      port: 16379
      database: 0
      password: 123456
      repositories:
        enabled: false
  datasource:
    #JDBC drivers
    driver-class-name: com.mysql.cj.jdbc.Driver
    #database url
    url: jdbc:mysql://mysql:3306/service?serverTimezone=Asia/Shanghai
    #database username and password
    username: root
    password: 123456
    #database connection pool
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      initial-size: 3
      min-idle: 3
      max-active: 100
      max-wait: 60000
      stat-view-servlet:
        login-username: admin
        login-password: 123456
        enabled: true
        url-pattern: /druid/*

      filter:
        stat:
          log-slow-sql: true
          slow-sql-millis: 100
      validation-query: select 1
  jackson:
    time-zone: GMT+8
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: false

server:
  port: 8085
  tomcat:
    threads:
      max: 100
      min-spare: 3

oomall:
  core:
    page-size:
      max: 1000
      default: 10
  region:
    timeout: 3600

logging:
  level:
    cn.edu.xmu.javaee.core: debug
    cn.edu.xmu.oomall.service: debug
